// color variables
$primaryLight: mintcream;
$primaryDark: #022787;

// button mixins
@mixin generalButtonStyle {
    text-transform: uppercase;
    background: $primaryDark;
    letter-spacing: .05rem;
    line-height: 1.6rem;
    color: $primaryLight;
    border: none;
    border-radius: .25rem;
    padding: .5rem .75rem;
}

@mixin cardSetup {
    border: .25rem $primaryDark solid;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem 0;
    background: $primaryLight;
    max-width: 24rem;
    margin: 0 auto;
}

@mixin selectorState {
    box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.75);
}

@mixin clickButtonState {
    position: relative;
    top: .25rem;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}